//首页样式
.banner{
    height: 358px;
    background-color: red;
    position: relative;
    .banner-left{
    height: 358px;
    background-color: #9f8052;
    width: 221px;
    position: relative;
    ul{
        height: 345px;
        font-size: 14px;
        color: #fff;
        padding-top: 13px;
        float: left;
        li{
            width: 161px;
            padding: 0 30px;
           height: 33.2px;
           line-height: 33.2px;
           text-align: left;
           transition: all .2s ease;
          span:hover{
            color: #dfaf7e;
          }
        }
         li:hover{
               background-color:rgba(0, 0, 0,.15 )
           }
       
    }
    }
    .banner-list{
        display: none;
        width: 859px;
        height: 358px;
        background-color: #fff;
         border: 1px solid #e7e7e7;
        float: right;
        position: absolute;
        top: 0px;
        left: 221px;
        color: #333;
        font-size: 14px;
        z-index: 2000;
       .banner-list-cont{
           width: 826px;
           height: 272px;
           margin-top: 20px;
           margin-left: 33px;
           h2{
            font-size: 18px;
            font-weight: 700;
            color: #805e3f;
            margin-bottom: 11px;
           }
           .item-pro{
               width: 826px;
               height: 50px;
               font-size: 14px;
               color: #333;
                line-height: 50px;
               .item-title{
                   display: inline-block;
                   width: 56px;
                   font-weight: 700;
                   text-align: justify;
                   text-align-last: justify;
                   margin: 0;
                   float: left;
                   font-size: 14px;         
               }
               span{
                display: inline-block;               
                   margin-left: 10px;
                   font-size: 20px;
                   line-height: 49px;
               }
               .item-list{
                   width: 724px;
                   height: 50px;
                   float: right;
                  border-bottom:1px dashed  #e6e6e6;
                   a{
                       color: #333;
                       margin-right:10px;
                   }
                   .action{
                       color: #bf1111;
                   }
               }
           }
        .item-pro2{
            width: 826px;
            height: 56px;
            line-height: 69px;
            margin: 16px 16px 16px 0px;
      
            .item-title{
                display: inline-block;
                width: 56px;
                font-weight: 700;
                text-align: justify;
                text-align-last: justify;
                margin: 0;
                float: left;
                font-size: 14px;         
            }
            span{
                display: inline-block;               
                   margin-left: 10px;
                   font-size: 20px;
                   line-height: 35px;
                   float: left;
               }
               .item-list{
                width: 674px;
              height: 53px;
              line-height: 22px;
                float: right;
               border-bottom:1px dashed  #e6e6e6;
               margin-right: 50px;
                a{
                    color: #333;
                    margin-right:14px;
                }
                .action{
                    color: #bf1111;
                }
            }
        }
       }
    }
    .banner-right{
        width: 859px;
        height: 358px;
        background-color: yellow;
      position: absolute;
      top: 0px;
      left: 221px;
      #box{
        width: 859px;
        position: relative;
        overflow: hidden;
        float: left;
        img {
            width: 859px;
        }
        ul {
            position: absolute;
            top: 0;
            left: 0;
            li {
                float: left;
            }
        }
        ol {
            position: absolute;
            top: 90%;
            left: 40%;
            li {
                margin-right: 5px;
                width: 20px;
               
                text-align: center;
                user-select: none;
                float: left;
                border-radius:20px ;
                text-align: center;
                span{
                    display: inline-block;
                    width: 8px;
                    height: 8px;
                    background-color: #fff;
                    border-radius: 8px;
                    border: 1px solid #cecece;
                }
            }
            .gao {
                // background: #bd2c00;
                // color: white;
                // box-shadow: 0 0 0 4px #ccc;
               
                border: none;
                span{
                  background-color: #a7936e;
                  border: 8px solid rgba(233, 232, 232,0.6);
                  border-radius: 40px;
                }
            }
        }
        .btnLeft {
            position: absolute;
            top: 50%;
            left: 10px;
        }
        .btnRight {
            position: absolute;
            top: 50%;
            right: 10px;
        }
        button {
            width: 38px;
            height: 38px;
            border-radius: 38px;
            text-align: center;
            font-size: 30px;
            margin-top: -15px;
            color: #fff;
            background: rgba(0, 0, 0, 0.1);
            border: none;
        }
      }
    }
}
