.content {
  min-height: 650px;
}
.content .content-title {
  height: 17px;
  padding: 30px 0px;
  text-align: start;
}
.content .content-title a {
  color: #000;
  font-size: 13px;
  margin-right: 5px;
}
.content .content-title :nth-child(2) a {
  font-size: 13px;
  color: #999;
}
.content .content-title a:hover {
  color: #845f3f;
}
.content .kong {
  height: 239px;
  padding: 100px 0px 200px 0px;
  display: none;
}
.content .kong img {
  width: 153px;
  height: 132px;
  margin: 0 auto;
}
.content .kong p {
  height: 19px;
  font-size: 14px;
  color: #333;
  margin-top: 24px;
  text-align: center;
}
.content .kong .kong-box {
  text-align: center;
  margin-top: 21px;
}
.content .kong .kong-box a {
  display: inline-block;
  width: 83px ;
  height: 41px;
  padding: 0px 6px;
  border: 1px solid #666;
  margin: 0 auto;
  color: #666;
  border-radius: 2px;
  line-height: 41px;
  font-size: 18px;
}
.content .kong .kong-box a:hover {
  color: #fff;
  background-color: #845f3f;
  border-color: #845f3f;
}
.content-shop {
  height: 100%;
  font-size: 14px;
  color: #333;
}
.content-shop .content-shop-top {
  height: 42px;
  margin-bottom: 3px;
  background-color: #fafafa;
  color: #999;
}
.content-shop .content-shop-top ul {
  height: 42px;
}
.content-shop .content-shop-top ul li {
  height: 42px;
  float: left;
  line-height: 42px;
  width: 20px;
}
.content-shop .content-shop-top ul .input {
  width: 45px;
  height: 40px;
  line-height: 49px;
}
.content-shop .content-shop-top ul .input #all {
  width: 18px;
  height: 18px;
  margin: 0px 20px 0px 7px;
}
.content-shop .content-shop-top ul .in-1 {
  width: 130px;
}
.content-shop .content-shop-top ul .list_con {
  width: 325px;
}
.content-shop .content-shop-top ul .list_price {
  width: 205px;
}
.content-shop .content-shop-top ul .list_amount {
  width: 205px;
}
.content-shop .content-shop-top ul .list_sum {
  width: 129px;
}
.content-shop .content-shop-top ul .list_op {
  width: 28px;
}
.content-shop .shoplist {
  min-height: 432px;
}
.content-shop .shoplist .shoplistdata {
  min-height: 277px;
}
.content-shop .shoplist .shoplistdata .shoplistdata-top {
  height: 19px;
  padding-top: 47px;
  padding-bottom: 17px;
  vertical-align: middle;
  border-bottom: 1px solid #e7e7e7;
}
.content-shop .shoplist .shoplistdata .shoplistdata-top .input-x {
  display: inline-block;
}
.content-shop .shoplist .shoplistdata .shoplistdata-top .input-x .xi {
  width: 18px;
  height: 18px;
  margin: 0px 20px 0px 8px;
}
.content-shop .shoplist .shoplistdata .shoplistdata-top .shopname {
  margin-left: 10px;
}
.content-shop .shoplist .shoplistdata .shopdata {
  height: 100%;
  border-bottom: 1px solid #e7e7e7;
}
.content-shop .shoplist .shoplistdata .shopdata li {
  height: 143px;
  border-top: 1px dashed #e7e7e7;
}
.content-shop .shoplist .shoplistdata .shopdata li .in-2 {
  width: 18px;
  height: 143px;
  float: left;
  margin: 0px 5px;
}
.content-shop .shoplist .shoplistdata .shopdata li img {
  width: 120px;
  height: 120px;
  margin-left: 38px;
  float: left;
  margin-top: 10px;
}
.content-shop .shoplist .shoplistdata .shopdata li p {
  width: 235px ;
  height: 88px;
  padding: 27px 80px 27px 5px;
  float: left;
}
.content-shop .shoplist .shoplistdata .shopdata li .price {
  width: 177px;
  height: 72px;
  padding: 35px 0px;
  float: left;
  line-height: 72px;
}
.content-shop .shoplist .shoplistdata .shopdata li .list_sum {
  margin-top: 53px;
  margin-left: -31px;
  float: left;
  border: 1px solid #b3b3b3;
  text-align: center;
  line-height: 30px;
}
.content-shop .shoplist .shoplistdata .shopdata li .list_sum .rem,
.content-shop .shoplist .shoplistdata .shopdata li .list_sum .add {
  display: inline-block;
  width: 30px;
  height: 30px;
  font-size: 20px;
  margin: 0;
  padding: 0;
}
.content-shop .shoplist .shoplistdata .shopdata li .list_sum .rem {
  color: #999;
}
.content-shop .shoplist .shoplistdata .shopdata li .list_sum .add {
  color: #845f3f;
}
.content-shop .shoplist .shoplistdata .shopdata li .list_sum .txt {
  display: inline-block;
  width: 70px;
  height: 30px;
  border-left: 1px solid #b3b3b3;
  border-right: 1px solid #b3b3b3;
}
.content-shop .shoplist .shoplistdata .shopdata li .sumprice {
  float: left;
  width: 100px;
  height: 143px;
  color: #c00000;
  line-height: 135px;
  margin-left: 131px;
}
.content-shop .shoplist .shoplistdata .shopdata li .dol {
  float: left;
  width: 50px;
  height: 143px;
  line-height: 135px;
  text-align: center;
}
.content-shop .shoplist .shoplistdata .shopdata li:nth-child(1) {
  border: none;
}
.content-shop .content-shop-foot {
  height: 80px;
  background-color: #fafafa;
  line-height: 80px;
  font-size: 18px;
  margin-top: 100px;
}
.content-shop .content-shop-foot .in-3 {
  width: 18px;
  height: 80px;
  float: left;
  margin: 0px 9px;
}
.content-shop .content-shop-foot .foot-text {
  width: 36px;
  height: 80px;
  float: left;
  font-size: 18px;
  margin-left: 10px;
}
.content-shop .content-shop-foot .yixuan {
  width: 120px;
  height: 80px;
  float: left;
  margin-left: 20px;
}
.content-shop .content-shop-foot .yixuan .num {
  margin: 0px 4px;
}
.content-shop .content-shop-foot .heji {
  width: 60px;
  height: 80px;
  float: left;
  font-size: 20px;
  margin-left: 558px;
}
.content-shop .content-shop-foot .price-sum {
  width: 59px;
  float: left;
  height: 80px;
  color: #c00000;
  font-size: 20px;
}
.content-shop .content-shop-foot .settlement {
  width: 200px;
  height: 80px;
  background-color: #e7e7e7;
  float: right;
  text-align: center;
  font-size: 20px;
  color: #fff;
}
