.content {
  min-height: 616px ;
  background-color: #f2f2f2;
  padding-bottom: 100px;
}
.content .contemt-second-title {
  height: 37px;
  margin-bottom: 20px;
  line-height: 37px;
}
.content .contemt-second-title .ft {
  font-size: 14px;
  line-height: 80px;
}
.content .contemt-second-title :nth-child(2) {
  color: #999;
  margin-left: 5px;
}
.content .contemt-second-title a {
  color: #999;
  float: right;
}
.content .contemt-second-title a span {
  font-size: 14px;
  margin: 0px 8px;
  font-size: 18px;
}
.content .content-fine {
  height: 2336px;
  margin-top: 40px;
  position: relative;
  overflow: hidden;
}
.content .content-fine ul {
  width: 1080px;
  height: 354px;
}
.content .content-fine ul li {
  margin-right: 5px;
  float: left;
  width: 263px;
  height: 267px;
  border: 1px solid #e7e7e7;
  margin-bottom: 5px;
  background-color: #f8f8f8;
  position: relative;
}
.content .content-fine ul li .img-top {
  height: 267px;
  background-color: #fff;
}
.content .content-fine ul li .img-top img {
  width: 195px;
  height: auto;
  text-align: center;
  margin-left: 35px;
}
.content .content-fine ul li .img-top .price {
  text-align: center ;
  color: #a92112;
  margin-top: 6px;
}
.content .content-fine ul li .img-top .price span {
  font-size: 9px;
}
.content .content-fine ul li .img-top .price .newprice {
  font-size: 14px;
}
.content .content-fine ul li .img-top p {
  color: #333;
  font-size: 16px;
  line-height: 26px;
  height: 26px;
  margin-top: 0;
  text-align: center;
}
.content .content-fine ul li .img-top button {
  padding: 4px 4px;
  position: absolute;
  right: 8px;
  bottom: 10px;
  border-radius: 5px;
  color: #666;
  font-size: 12px;
  background-color: #fff;
  border: 1px solid #ccc;
}
.content .content-fine ul li:hover {
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  transform: translate3d(0, -2px, 0);
}
